.cart-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 186.67px 1fr;
  gap: 1rem;
  padding: 1.25rem 1.875rem;
  border-bottom: 1px solid #f0f0f0;
  background: var(--color-white);
  overflow: hidden;
}

.cart-item .item-image {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  overflow: hidden;
}

.cart-item .item-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-item .item-center {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0.3125rem;
  flex-direction: column;
}

.item-center .item-name,
.item-right .item-price {
  font-size: var(--f-sm);
  font-weight: 500;
  line-height: var(--l-normal);
  text-transform: capitalize;
  color: var(--color-dark);
  flex: 1;
  text-align: start;
  width: 100%;
}

.item-center .item-name {
  width: 90%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-item .item-size {
  font-size: var(--f-sm);
  font-weight: 400;
  line-height: var(--l-normal);
  text-transform: capitalize;
  color: #bcb8b1;
}

.cart-item .quantity-controls {
  display: grid;
  grid-template-columns: 30px 45px 30px;
  border: 2px solid var(--gray, #e5e5e5);
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.quantity-btn {
  background: var(--color-white);
  border: none;
  font-size: var(--f-sm);
  font-weight: 500;
  color: #a6a2a2;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.quantity-btn:first-child {
  border-right: 2px solid #e5e5e5;
}

.quantity-btn:last-child {
  border-left: 2px solid #e5e5e5;
}

.quantity-input {
  display: grid;
  place-content: center;
}

.quantity-input input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  font-size: var(--f-sm);
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
}

.quantity-input input::-webkit-outer-spin-button,
.quantity-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-item .item-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  height: 100%;
  text-align: end;
}

.item-right .button {
  background-color: transparent;
  text-decoration: underline;
  font-size: var(--f-sm);
  font-weight: 400;
  color: #a6a2a2;
  border: none;
  letter-spacing: 0.5px;
}

.item-right .delete-btn {
  padding-left: 0;
  background-color: transparent;
}

@media (max-width: 768px) {
  .cart-item {
    padding: 0.5rem 1rem;

    & .item-name,
    & .item-size,
    & .item-price {
      font-size: var(--f-xs);
    }

    & .quantity-controls {
      grid-template-columns: 25px 40px 25px;
    }

    & .item-right {
      font-size: var(--f-xs);
    }

    & .button {
      font-size: var(--f-xs);
    }

    & .delete-btn {
      padding-left: 0;
    }
  }
}
