.collections-section {
  width: 99%;
}

.collections-section .collections-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
}

.collections-section .collection-card {
  position: relative;
  height: 550px;
}

.collections-section .collection-card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.collections-section .collection-image {
  width: 100%;
  height: 100%;
}

.collections-section .collection-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem 1.5rem;
  color: var(--color-white);
  z-index: 10;
}

.collections-section .collection-title {
  font-size: var(--f-md);
  font-weight: 500;
  margin: 0 0 0.5rem 0;
  line-height: var(--l-normal);
  text-align: start;
  text-transform: capitalize;
}

.collections-section .collection-button {
  font-size: var(--f-sm);
  font-weight: 400;
  color: var(--color-white);
  line-height: var(--l-normal);
  cursor: pointer;
  position: relative;
}

.collection-button::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--color-white);
  transition: all 0.3s ease;
}

.collection-button:hover::after {
  width: 100%;
}
