.order-history-container {
  width: 100%;
  padding-bottom: 2rem;
}

.order-history-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.order-history-header h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-dark);
}

.order-count {
  background-color: var(--color-light-gray);
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.1rem 0.6rem;
  border-radius: 20px;
}

.order-history-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}

.order-history-main {
  width: 100%;
}

.order-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.order-filters .filter-edit {
  padding: 0;
  margin: 0;
}

.filter-tabs {
  display: flex;
  gap: 0.5rem;
  padding: 0.3125rem;
  border-radius: 2px;
  background-color: var(--color-secondary);
}

.filter-tab {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: var(--f-sm);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.2s;
}

.filter-tab.active {
  background-color: var(--color-dark);
  font-weight: 400;
  color: var(--color-white);
}

.filter-tab:hover:not(.active) {
  color: var(--text-color);
  background-color: var(--color-light-gray);
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.orders-summary-bar {
  font-size: 0.875rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.orders-summary-bar span {
  font-weight: 500;
}

/* No Orders State */
.no-orders {
  text-align: center;
  padding: 3rem;
  background: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
}

.no-orders h2 {
  font-size: var(--f-md);
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: var(--l-normal);
  color: var(--color-dark);
}

.no-orders p {
  color: var(--text-color);
  font-size: var(--f-sm);
  font-weight: 400;
  margin-bottom: 1.5rem;
}

/* Responsive */
@media (max-width: 1024px) {
  /* .order-history-layout {
  } */
}
