.profile .sidebar {
  width: 250px;
  height: auto;
  border: 1px solid var(--color-gray);
}

@media (max-width: 768px) {
  .profile .sidebar {
    width: 100%;
  }
}

.profile .sidebar ul {
  display: flex;
  flex-direction: column;
}

.profile .sidebar ul li {
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile .sidebar ul li > * {
  color: var(--text-color);
  font-size: var(--fs-xs);
  font-weight: 400;
  text-transform: capitalize;
}

.profile .sidebar ul li:hover {
  background-color: var(--color-light-gray);
}

.profile .sidebar ul li.active {
  background-color: var(--color-dark);
}

.profile .sidebar ul li.active > * {
  color: var(--color-white);
}
