.wishlist-items .wishlist-header {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  font-weight: 600;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  color: #333;
}
