.lookbook-gallery {
  width: 100%;
  overflow: hidden;
  padding-top: 2rem;
}

.lookbook-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0;
}

.lookbook-item {
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.lookbook-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.lookbook-item:hover::after {
  background-color: rgba(0, 0, 0, 0);
}

.lookbook-item img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.4s ease;
}

.lookbook-item:hover img {
  transform: scale(1.05);
}

.lookbook-gallery.home-page {
  padding-top: 1rem;
}

@media (max-width: 374px) {
  .lookbook-gallery {
    padding-top: 1rem;

    & .lookbook-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .lookbook-gallery {
    padding-top: 1rem;

    & .lookbook-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .lookbook-gallery {
    padding-top: 1rem;

    & .lookbook-grid {
      grid-template-columns: repeat(4, 1fr);

      & .lookbook-item {
        height: 350px;

        &:nth-of-type(1) {
          display: none;
        }

        &:nth-of-type(3) {
          display: none;
        }
      }
    }
  }
}
