.team-section {
  padding-block: 5rem;
  margin-bottom: 5rem;
}

.team-section .team-header {
  text-align: center;
  margin-bottom: 60px;
}

.team-section .team-title {
  font-size: 2rem;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  color: var(--color-dark);
  line-height: var(--l-normal);
  margin-bottom: 0.625rem;
}

.team-section .team-subtitle {
  font-size: var(--f-sm);
  font-weight: 400;
  color: var(--text-color);
  line-height: var(--l-normal);
}

.team-section .team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.team-section .team-card {
  width: 100%;
  height: 400px;
  position: relative;
}

.team-section .team-card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.team-card .img-wrapper {
  width: 100%;
  height: 100%;
}

.team-card img {
  width: 100%;
  height: 100%;
}

.team-card:nth-of-type(2) .team-img {
  object-position: center 5%;
}

.team-card .team-name {
  font-size: var(--f-md);
  font-weight: 500;
  line-height: var(--l-normal);
  margin-top: 0.625rem;
  color: var(--text-color);
}

.team-card .team-role {
  font-size: var(--f-sm);
  font-weight: 400;
  line-height: var(--l-normal);
  color: #6c757d;
}

@media (max-width: 374px) {
  .team-section .team-header {
    margin-bottom: 40px;
  }

  .team-section .team-title {
    font-size: var(--f-2xl) !important;
  }

  .team-section .team-subtitle {
    font-size: var(--f-sm) !important;
  }

  .team-section .team-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

    .team-card {
      height: 300px;

      &:not(:first-child) {
        margin-top: 2rem;
      }

      & .team-name {
        font-size: var(--f-md) !important;
      }

      & .team-role {
        font-size: var(--f-sm) !important;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .team-section .team-header {
    margin-bottom: 40px;
  }

  .team-section .team-title {
    font-size: var(--f-2xl) !important;
  }

  .team-section .team-subtitle {
    font-size: var(--f-sm) !important;
  }

  .team-section .team-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

    .team-card {
      height: 300px;

      &:not(:first-child) {
        margin-top: 2rem;
        display: none;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      & .team-name {
        font-size: var(--f-md) !important;
      }

      & .team-role {
        font-size: var(--f-sm) !important;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .team-section .team-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .team-section .team-card {
    height: 350px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .team-section .team-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .team-section .team-card {
    height: 350px;
  }
}
