/* nav */

.announcement-bar {
  width: 100%;
  height: 34px;
  min-height: 34px;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: var(--shadow-md);
  background-color: var(--color-dark);
}

.announcement-bar .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.announcement-bar .container * {
  font-size: 10px;
  font-weight: 400;
  line-height: var(--l-normal);
  color: var(--color-white);
  text-align: start;
  text-transform: capitalize;
}

.announcement-bar .left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
}

header {
  width: 100%;
  height: 80px;
  max-height: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
  margin-top: 34px;
  box-shadow: var(--shadow-md);
  background-color: var(--color-white);
}

header.sticky {
  box-shadow: var(--shadow-md);
}

header .nav-container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
}

.nav-container .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.nav-links .nav-link {
  color: var(--text-color);
  font-size: var(--f-md);
  display: inline-block;
  position: relative;
}

.nav-links .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--text-color);
  transition: all 0.3s ease;
}

.nav-links .nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
}

.nav-container .nav-logo {
  font-size: var(--f-md);
  flex-shrink: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "boska", sans-serif;
  color: var(--color-dark);
}

.nav-container .nav-icons {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  flex-shrink: 0;
}

.nav-icons .nav-link {
  color: var(--text-color);
  flex-wrap: 0;
}

.nav-link.cart-icon,
.nav-link.wishlist-icon {
  position: relative;
}

.nav-link .cart-count,
.nav-link .wishlist-count {
  display: grid;
  place-content: center;
  width: 15px;
  height: 15px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1px;
  border-radius: 50%;
  background: var(--color-dark);
  color: var(--color-white);
  position: absolute;
  top: -1px;
  right: -10px;
}

/* menu dropdown */

.nav-item-with-dropdown {
  position: static;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100vw;
  max-height: 0;
  height: 50vh;
  background: var(--color-white);
  overflow: hidden;
  display: grid;
  place-content: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) translateY(20px);
  transition: opacity 0.3s ease, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s linear 0.4s;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.menu-dropdown.active {
  opacity: 1;
  visibility: visible;
  max-height: 400px;
  transform: translateX(-50%) translateY(0);
  transition: opacity 0.3s ease, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s linear 0s;
  pointer-events: all;
}

.menu-dropdown .dropdown-content {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  transition: all 0.3s ease;
}

.dropdown-content .menu-image {
  width: 300px;
  height: 200px;
}

.dropdown-content .menu-image img {
  width: 100%;
  height: 100%;
}

.dropdown-content .menu-text {
  text-align: center;
  width: 100px;
}

.dropdown-content .dropdown-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.dropdown-content .dropdown-column.shop:nth-child(2) {
  border-left: 1px solid var(--color-gray);
  padding-left: 1.25rem;
}

.dropdown-column .dropdown-category {
  font-size: var(--f-xl);
  font-weight: 500;
  color: var(--color-dark);
  line-height: var(--l-tight);
}

.dropdown-item {
  font-size: var(--f-sm);
  font-weight: 400;
  color: var(--color-dark);
  line-height: var(--l-normal);
  position: relative;
}

.dropdown-item::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -1px;
  background: var(--text-color);
  transition: all 0.3s ease;
}
.dropdown-item:hover::after {
  width: 100%;
}
