/* Produt Details */

.product-details .product-grid {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 4rem;
  margin-bottom: 2rem;
}

.product-details .grid-left {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}

.product-details .image-varaints {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.image-varaints .variant {
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
}

.image-varaints .variant img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.product-details .product-img {
  width: 500px;
  height: 500px;
  background-color: #f6f6f6;
  cursor: zoom-in;
  overflow: hidden;
  position: relative;
}

.product-details .product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-details .grid-right {
  flex: 2;
}

.product-details .grid-content {
  width: 600px;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}

.product-details .product-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details .product-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
}

.product-rating .no-rating {
  font-size: var(--f-sm);
  color: var(--text-clr);
}

.product-details .product-title {
  flex: 1;
  font-size: var(--f-2xl);
  font-weight: 500;
  color: var(--color-dark);
  line-height: var(--l-normal);
  text-align: start;
}

.product-details .product-price {
  font-size: var(--f-lg);
  font-weight: 500;
  color: var(--text-color);
  line-height: var(--l-normal);
}

.product-price .original-price {
  text-decoration: line-through;
  color: var(--color-gray);
}

.product-details .product-description {
  font-size: var(--f-sm);
  font-weight: 400;
  color: var(--text-color);
  line-height: var(--l-loose);
}

.product-details .product-colors {
  width: 100%;
  height: 20px;
}

.product-colors .color-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.product-colors .color-list li {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid var(--color-gray);
  cursor: pointer;
  transition: border 0.3s ease;
}

.product-details .product-actions {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1rem;
  text-align: start;
}

@media (max-width: 374px) {
  .product-details .product-grid {
    flex-direction: column;
    gap: 1.5rem;

    & .grid-left {
      width: 100%;
      gap: 0.5rem;
    }

    & .grid-right {
      flex: 1;
      width: 100%;
      gap: 0.5rem;
    }

    & .grid-content {
      width: 100%;
      gap: 0.5rem;
    }

    & .product-title {
      font-size: var(--f-xl);
    }

    & .product-price {
      font-size: var(--f-sm);
    }

    & .product-actions {
      gap: 0.5rem;
    }

    & .product-cart-actions {
      width: 100%;

      & button {
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: var(--f-sm);
      }
    }

    .wishlist-control {
      width: 100%;

      & button {
        padding: 0.5rem 0rem;
        font-size: var(--f-sm);
      }
    }
  }

  .product-rating .no-rating {
    font-size: var(--f-xs);
  }

  .product-details .image-varaints {
    max-height: 100px;
    overflow: hidden;
  }

  .product-details .product-img {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .product-details .product-grid {
    flex-direction: column;
    gap: 1.5rem;

    & .grid-left {
      width: 100%;
      gap: 0.5rem;
    }

    & .grid-right {
      flex: 1;
      width: 100%;
      gap: 0.5rem;
    }

    & .grid-content {
      width: 100%;
      gap: 0.5rem;
    }

    & .product-title {
      font-size: var(--f-xl);
    }

    & .product-price {
      font-size: var(--f-sm);
    }

    & .product-actions {
      gap: 0.5rem;
    }

    & .product-cart-actions {
      width: 100%;

      & button {
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: var(--f-sm);
      }
    }
  }

  .wishlist-control {
    width: 100%;

    & button {
      padding: 0.5rem 0rem;
      font-size: var(--f-sm);
    }
  }

  .product-details .image-varaints {
    max-height: 100px;
    overflow: hidden;
  }

  .product-details .product-img {
    width: 100%;
    height: 400px;
  }
}
