.photo-file-chooser {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 2rem;
}

.photo-file-chooser.photo-chooser-active {
  padding: 0;
  gap: 0;
}

.photo-file-chooser .upload-button-label {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: #f8f9fa;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  font-size: var(--f-sm);
}

.photo-file-chooser .chosen-file-display {
  font-size: var(--f-sm);
  font-weight: 400;
  color: var(--text-color);
  line-height: var(--l-normal);
  display: inline-block;
}

.uploaded-photo-preview {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
  position: relative;
}

.uploaded-photo-preview .uploaded-img-container {
  width: 80px;
  height: 80px;
}

.uploaded-photo-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.uploaded-photo-preview .preview-delete-button {
  position: absolute;
  right: -20px;
  top: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: #eef0f2;
}
