.why-shop .why-shop-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  gap: 1px;
  text-align: center;
}

.why-shop .why-shop-card {
  width: 100%;
  height: 80vh;
  position: relative;
}

.why-shop .why-shop-card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.why-shop .why-shop-image {
  width: 100%;
  height: 100%;
}

.why-shop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.why-shop .why-us-content {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.why-us-content p {
  font-size: var(--f-sm);
  color: var(--color-white);
  font-weight: 400;
  line-height: var(--l-normal);
}

.why-us-content h2 {
  color: var(--color-white) !important;
  font-weight: 500;
  line-height: var(--l-normal);
}

@media (max-width: 374px) {
  .why-shop .why-shop-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.125rem;
    padding: 0.125rem;
    & .why-shop-card {
      height: 60vh;
    }

    & .why-us-content {
      width: 100%;
      bottom: 20px;

      & h2 {
        font-size: var(--f-2xl);
        padding: 0.125rem;
        color: var(--color-white);
      }
    }
  }
}

@media (max-width: 767px) {
  .why-shop .why-shop-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.125rem;
    padding: 0.125rem;
    & .why-shop-card {
      height: 60vh;
    }

    & .why-us-content {
      width: 100%;
      bottom: 20px;

      & h2 {
        font-size: var(--f-2xl);
        padding: 0.125rem;
        color: var(--color-white);
      }
    }
  }
}
