.product-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
  padding: 0;
  list-style: none;
  margin-top: 2rem;
}

.no-products-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 98px - 80px);
}

.no-products-content {
  text-align: center;
}

.no-products-found .no-products-image-container {
  margin-bottom: 1.5rem;
}


.no-products-content p {
  font-size: var(--f-sm);
  font-weight: 400;
  line-height: var(--l-normal);
}

@media (max-width: 767px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.125rem;
    row-gap: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .product-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    row-gap: 2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .product-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    row-gap: 2rem;
  }
}
