.product-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
  padding: 0;
  list-style: none;
  margin-top: 2rem;
}

@media (max-width: 374px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.125rem;
    row-gap: 2rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.125rem;
    row-gap: 2rem;
  }
}
