.cart-toast {
  width: 350px;
  position: fixed;
  top: 100px;
  right: 100px;
  background-color: var(--color-white);
  border-radius: 2px;
  box-shadow: var(--shadow-xl);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 12px;
  z-index: 1000;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.cart-toast.slide-out {
  animation: slideOut 0.3s ease-in forwards;
}

.cart-toast-close {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--f-normal);
  color: var(--color-black);
  border-radius: 50%;
  transition: background-color 0.2s;
}

.cart-toast-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0.75rem;
}

.cart-toast-right {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
}

.cart-toast-content .cart-toast-image {
  width: 50px;
  height: 50px;
}

.cart-toast-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.cart-toast-message {
  display: flex;
  flex-direction: column;
}

.cart-toast-name {
  font-weight: 500;
  color: var(--color-black);
  font-size: var(--f-sm);
  line-height: var(--l-normal);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.cart-toast-msg {
  color: var(--text-color);
  font-weight: 400;
  font-size: var(--f-xs);
  line-height: var(--l-normal);
}

.cart-toast-button {
  width: 100%;
  padding: 8px 16px;
  cursor: pointer;
  font-size: var(--f-xs);
  transition: background-color 0.2s;
}

@media (max-width: 768px) {
  .cart-toast {
    width: 100%;
    top: 0;
    bottom: auto;
    right: 0;
    border-radius: 2px;
    box-shadow: var(--shadow-xl);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 12px;
    z-index: 1000;
    animation: slideIn 0.3s ease-out;
  }
}
