.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--color-white);
  padding: 2rem;
  border-radius: 2px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  font-size: var(--f-xl);
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--color-dark);
  line-height: var(--l-normal);
}

.modal-content p {
  margin-bottom: 2rem;
  font-size: var(--f-sm);
  font-weight: 400;
  color: var(--color-dark);
  line-height: var(--l-normal);
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal-content .delete-btn {
  background-color: var(--color-danger) !important;
  border-color: var(--color-danger) !important;
  color: white !important;
}

.modal-content .delete-btn:hover {
  background-color: var(--color-danger) !important;
}

.cancel-btn {
  background-color: transparent !important;
  border-color: var(--color-gray) !important;
  color: var(--color-dark) !important;
}

.cancel-btn:hover {
  background-color: var(--color-gray-hover) !important;
}
