.perks-bar {
  width: 100%;
  padding-block: 4rem;
  margin-top: 5rem;
  background: var(--color-dark);
}

.perks-bar .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.perks-bar .perk-item {
  text-align: start;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding-inline: 3rem;
}

.perk-item .perk-icon {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-white);
}

.perk-item .perk-title {
  font-size: var(--f-md);
  font-weight: 400;
  color: var(--color-white);
  line-height: var(--l-normal);
}

.perk-item p {
  font-size: var(--f-sm);
  font-weight: 400;
  color: #dee2e6;
  margin-top: 0.5rem;
  line-height: var(--l-normal);
  margin-bottom: 0.5rem;
}

.perk-item .perk-button {
  font-size: var(--f-sm);
  font-weight: 400;
  color: var(--color-white);
  line-height: var(--l-normal);
  cursor: pointer;
  position: relative;
}

.perk-item .perk-button::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--color-white);
  transition: all 0.3s ease;
}

.perk-item .perk-button:hover::after {
  width: 100%;
}
